    * {
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
        /* overflow-x: hidden; */
    }
    
    body {
        overflow-x: hidden;
    }
    
    .top-bar {
        width: 100%;
        height: 25px;
        box-sizing: border-box;
        padding: 0 30px;
        background-color: #C0C0C0;
        display: grid;
        grid-template-columns: auto auto;
    }
    
    .social-bar ul {
        list-style: none;
        display: flex;
    }
    
    .social-bar ul li a img {
        width: 43px;
        padding: 4px 12px;
    }
    
    .social-bar ul li a img:hover {
        transform: scale(1.8);
    }
    
    .social-bar img {
        float: left;
        width: 18px;
    }
    
    .email img {
        width: 25px;
        float: right;
        padding-right: 5px;
        padding-top: 4px;
    }
    
    .email p {
        top: 0;
        float: right;
        padding-top: 4px;
        color: rgba(128, 128, 128, 0.651);
    }
    
    nav {
        width: 100%;
        height: 45px;
        background-color: #000044;
        position: sticky;
        top: 0;
        box-sizing: border-box;
        padding: 0 30px;
        z-index: 999;
    }
    
    nav img {
        width: 60px;
        margin-left: 36px;
        margin-top: 3px;
    }
    
    nav ul {
        display: flex;
        float: right;
        list-style: none;
    }
    
    nav ul li a {
        padding: 0 20px;
        color: white;
        text-decoration: none;
        font-family: sans-serif;
        line-height: 45px;
        display: block;
    }
    
    .togle {
        display: none;
        flex-direction: column;
        height: 20px;
        justify-content: space-between;
        float: right;
        margin-top: 11px;
        padding-right: 10px;
    }
    
    .togle input {
        position: absolute;
        width: 50px;
        height: 30px;
        opacity: 0;
        margin-left: -10px;
        margin-top: -5px;
        cursor: pointer;
    }
    
    .togle span {
        display: block;
        width: 28px;
        height: 3px;
        background-color: #d2b078;
        border-radius: 3px;
        /* left: -5; */
        /* right: 10; */
        transition: all 0.8s;
    }
    
    .togle span:nth-child(2) {
        transform-origin: 0 0;
    }
    
    .togle span:nth-child(4) {
        transform-origin: 0 100%;
    }
    
    .togle input:checked~span:nth-child(2) {
        transform: rotate(45deg) translate(-1px, -1px);
    }
    
    .togle input:checked~span:nth-child(3) {
        transform: scale(0);
    }
    
    .togle input:checked~span:nth-child(4) {
        transform: rotate(-45deg);
    }
    
    nav ul li a.active,
    nav ul li a:hover {
        background-color: aqua;
    }
    
    .welcome {
        width: 100%;
        height: 450px;
        background-size: cover;
        text-align: center;
    }
    
    .welcome h1 {
        color: #d2b078;
        line-height: 200px;
        height: 130px;
        font-family: 'Roboto Slab', serif;
        letter-spacing: 5px;
    }
    
    .welcome p {
        color: white;
        letter-spacing: 3px;
        font-size: 20px;
        color: #d2b078;
    }
    
    .desc {}
    
    .desc p {
        letter-spacing: normal;
        line-height: 30px;
        color: gray;
        padding-top: 60px;
        font-family: 'Cookie', cursive;
        font-size: 25px;
    }
    
    .box {
        box-sizing: border-box;
        width: 100%;
        height: max-content;
        background-color: rgb(255, 255, 199);
    }
    
    .box iframe {
        padding: 73px 240px;
    }